extends layout2
block content
  .container
   form
   | #{msg} #{photoID} from GROUP of #{sourceID}
   p
   | Wanna go back to previous results?  
   p
   
   a(href='JavaScript:history.go(-1)') ~~GO BACK~~
   
   