extends layout2
block content
  .container
   .alert.alert-warning #{msg} #{photoID} from GROUP of #{sourceID}
   
   p
   
   a.btn.btn-primary.btn-lg.active(href='JavaScript:history.go(-1)', role='button') Go back
   
   