extends layout2
block content
  .container
   form
   | #{msg} #{currentBoard}
   p
   | Want to see your board with your new pin? 
   p
   
   a(href='/photos'+'?boardName=#{currentBoard}&nextPage=1')  ~~Click Here~~
   
   