extends layout2
block content
 .container
    .row.clearfix
        if error == true  
            .alert.alert-warning Try again,Password did not match
        if changed == true 
            .alert.alert-success Password sucessfully changed
        .col-md-12.column
          .page-header
            h1
              | Change Password
              div
                Please enter the new password below
          if fail == true 
            .alert.alert-warning  Sorry, The userName  already exists, please try again
          form.form-horizontal(role='form',action='/editPassword', method ='post')
            .form-group
              label.col-sm-1.control-label(for='inputPass1') New Password
              .col-sm-10
                input#inputPass1.form-control(type='text',name='pass1')
            .form-group
              label.col-sm-1.control-label(for='inputPass2') Retype New Pasword 
              .col-sm-10
                input#inputPass2.form-control(type='text',name='pass2')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit') Change Password 