extends layout2

block content
  .container
    .row.clearfix
        .col-md-12.column
          h3
            | Your Interest
          if (fail == true)
             .alert.alert-warning Sorry, That interest already exists
          table
            - for (var inx = 0; inx < results.length; inx++)
              tr
                td=results[inx].INTEREST+" "
          form.form-horizontal(role='form' ,action="/editInterest", method ='post')
            .form-group
              label.col-sm-2.control-label(for='interest') Add New Interest
              .col-sm-10             
                input#interest.form-control(type='text',name='interest') 
                     
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit') Add Interest