extends layout2
block content
  .container
   .alert.alert-warning #{msg} #{boardName}
   - var board=boardName
   
   form(action='/photos', method='get')
     input(type='hidden', name='boardName', value=board)
     input(type='hidden', name='nextPage', value=1)
     button.btn.btn-default(type='submit') GO back to Board
   
   