extends signinLayout
block content	
	.container
		if fail == true 
			.alert.alert-warning Try again,Password and Username was incorrrect
		if success == true
			.alert.alert-success User Succesfully Registered, Please log in
		form.form-signin(action='/login',method='post')
			h2.form-signin-heading Please sign in
			input.form-control(name='userID',type='text', placeholder='userID', autofocus='autofocus')
			input.form-control(name='password',type='password', placeholder='Password')
			label.checkbox
			input(type='checkbox', value='remember-me')
			| Remember me
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in