extends signinLayout
block content
	.container
		form.form-signin(action='/signin',method='get')
			h2.form-signin-heading Please sign in
			input.form-control(name='userID',type='text', placeholder='UserName', autofocus='autofocus')
			input.form-control(name='password',type='password', placeholder='Password')
			label.checkbox
			input(type='checkbox', value='remember-me')
			| Remember me
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in