extends layout2

block content
    .container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              div
                large
                  span #{userID}
              div
                small Some information about the user
          .row.clearfix
            .col-md-4.column
              img.img-circle(alt='140x140', src='http://lorempixel.com/140/140/',align='center')
            .col-md-6.column
              dl
                dt
                  | Description lists
                dd
                  | A description list is perfect for defining terms.
                dt
                  | Euismod
                dd
                  | Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                dd
                  | Donec id elit non mi porta gravida at eget metus.
                dt
                  | Malesuada porta
                dd
                  | Etiam porta sem malesuada magna mollis euismod.
                dt
                  | Felis euismod semper eget lacinia
                dd
                  | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          .media
            a.pull-left(href='#')
              img.media-object(src='http://lorempixel.com/64/64/', alt='')
            .media-body
              h4.media-heading
                | Nested media heading
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              .media
                a.pull-left(href='#')
                  img.media-object(src='http://lorempixel.com/64/64/', alt='')
                .media-body
                  h4.media-heading
                    | Nested media heading
                  | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          
          